<div class="ui container root">
  <h1 class="ui header">We're on!</h1>

  <div class="ui five item menu">
    <a class="item" [routerLinkActive]="['active']" [routerLink]="['/feed']">Feed</a>
    <a class="item" [routerLinkActive]="['active']" [routerLink]="['/profile']">Profile</a>
    <a class="item" [routerLinkActive]="['active']" [routerLink]="['/users']">Users</a>
  </div>

  <button class="ui button" id="newPost" tabindex="0" (click)="newPost()">
    <i class="heart icon"></i>
    New Post
  </button>

  <div class="ui container">
    <router-outlet></router-outlet>
    <router-outlet name="modal"></router-outlet>
  </div>

</div>