#newPost {
    float: left;
    clear: none;
    margin: 1.5em;
    z-index: 999;

    @media only screen and (max-width:	1200px) {
        margin-top: -0.5em;

        @media only screen and (max-width:	460px) {
            margin-bottom: 0em;
        }
    }
}