<div class="root">
  <h1 class="ui header">We're on!</h1>

  <div class="ui five item menu">
    <a class="item active" [routerLink]="['/home']">Home</a>
    <a class="item" [routerLink]="['/profile']">Profile</a>
    <a class="item" [routerLink]="['/spots']">Spots</a>
  </div>

  <button class="ui button" tabindex="0" (click)="newPost()">
    <i class="heart icon"></i>
    New Post
  </button>

  <app-new-post *ngIf="creatingPost" (complete)="publishPost($event)"></app-new-post>

</div>

<div *ngFor="let post of posts" class="list item">
  Item
  <p>{{post.payload.doc.data().name}}</p>
  <p>{{post.payload.doc.data().content}}</p>
</div>

<div class=" container">
    <router-outlet></router-outlet>
  </div>