<div class="root">
  <h1 class="ui header">We're on!</h1>

  <div class="ui labeled button" tabindex="0">
    <div class="ui button">
      <i class="heart icon"></i> Like
    </div>
    <a class="ui basic label">
      2,048
    </a>
  </div>
</div>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="image content">
    <div class="ui medium image">
    </div>
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a>
        image associated with your registered e-mail address.</p>
      <p>Is it okay to use this photo?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<router-outlet></router-outlet>