<sui-modal [isClosable]="true" (dismissed)="done(false)" #modal>
    <h1 class="header">New Post</h1>
    <div class="content">
        <p>The content:</p>
        <ckeditor [editor]="editor" [data]="editorData" (change)="onChange($event)"></ckeditor>
    </div>
    <div class="actions">
        <button class="ui red button" (click)="done(true);modal.deny();">Cancel</button>
        <button class="ui green button" (click)="done(true);modal.approve();" autofocus>OK</button>
    </div>
</sui-modal>